@font-face {
  font-family: 'dejavu-sans-mono--regular';
  src: url('/static/fonts/deja-vu-sans-mono--regular.ttf');
}

@font-face {
  font-family: 'dejavu-sans-mono--bold';
  src: url('/static/fonts/deja-vu-sans-mono--bold.ttf');
}
